body{
    background-color: #e1e4d0;
}

.title-banner{
    background-color: #7c8a7e;
}

nav{
    background-color: #7c8a7e;
}

.title-row{
    background-color: black;
}

#more-info-btn {
    background-color: #D4CDAB;
}