{% extends 'base.html' %}

{% block content %}
    <div class="title-banner text-center text-light mt-3 p-2">
        <h2>Welcome to 'More Info</h2>
    </div>
    <div class="bg-light text-center p-5 m-3">
        <h4>Why the plants?</h4>
        <p>Well... My collection of plants has grown since Covid and I've found that I care for some much more than others.
        Specifically, some plants get misted daily while I would be excited if others finally 'kicked it'</p>
    
        <h4>Will I add photos eventually?</h4>
        <p>Yes (hopefully)! Once Brian shows us how to add photos the right way in Flask I will.</p>
    </div>



{% endblock content %}